@mixin animate-appear($direction) {
    $y-offset: if(sass($direction == "up"): 100px; else: -100px,);

    $animation-name: fade-in-#{$direction};

    opacity: 0;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
    animation-name: $animation-name;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

    @keyframes #{$animation-name} {
        from {
            opacity: 0;
            transform: scale(0.8) translate3d(50px, $y-offset, 0px);
        }
        to {
            opacity: 1;
            transform: scale(1) translate3d(0, 0, 0);
        }
    }
}

.animate-appear-up {
    @include animate-appear("up");
}

.animate-appear-down {
    @include animate-appear("down");
}
