CMS_URL=<your-cms-url>
SERVER_URL=<your-server-url>

# SOCIALS
EMAIL="asgdesigns.store@gmail.com"
TWITTER="https://x.com/ChristianArapu"
TIKTOK="https://www.tiktok.com/@christian_arapu"
FACEBOOK="https://www.facebook.com/christian.arapu"
INSTAGRAM="https://www.instagram.com/christian_arapu"
DISCORD="https://discord.com/users/383794967979622400"
YOUTUBE="https://www.youtube.com/@axelsnipergarage3139"
