@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --main-gradient: linear-gradient(45deg, rgb(224, 4, 11) 15%, rgb(252, 81, 48) 65%);
        --animation-gradient: linear-gradient(to right, rgb(252, 81, 48), rgb(224, 4, 11));
    }

    @font-face {
        font-family: "Gilroy";
        font-weight: 900;
        font-style: normal;
        font-display: swap;

        /* TODO: change when domain name is ready */
        src: url("../Gilroy-Black.woff") format("woff");
    }

    .stepper-item--label {
        background-color: rgb(25, 25, 25);
    }

    .stepper-item--label__filled {
        background: var(--animation-gradient);
        background-size: 400% 400%;
        animation: gradient 3s ease infinite;
    }

    .stepper-item {
        position: relative;

        &::before,
        &::after {
            content: "";
            height: 6px;
            width: 40%;
            top: 25%;
            position: absolute;
            background-color: rgb(25, 25, 25);
        }

        &:before {
            left: 0;
        }

        &::after {
            right: 0;
        }
    }

    .stepper-item__active {
        position: relative;

        &::before,
        &::after {
            content: "";
            height: 6px;
            width: 40%;
            top: 25%;
            position: absolute;
        }

        &:before {
            left: 0;
            background: var(--animation-gradient);
            background-size: 400% 400%;
            animation: gradient 3s ease infinite;
        }

        &::after {
            right: 0;
            background-color: rgb(25, 25, 25);
        }
    }

    .stepper-item__completed {
        position: relative;

        &::before,
        &::after {
            content: "";
            height: 6px;
            width: 40%;
            top: 25%;
            position: absolute;
            background-color: rgb(25, 25, 25);
            background: var(--animation-gradient);
            background-size: 400% 400%;
            animation: gradient 3s ease infinite;
        }

        &:before {
            left: 0;
        }

        &::after {
            right: 0;
        }
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    input[type="number"] {
        -moz-appearance: textfield;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    html {
        @apply bg-black-primary;
    }

    textarea {
        resize: none;
    }

    input,
    select,
    textarea {
        font-family:
            Poppins, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
            "Noto Color Emoji";
        color: white;
        width: 100%;
        padding: 10px 15px;
        border: 1px solid #ffffff40;
        background-color: transparent;
        transition: border-color 0.15s ease-in-out;

        &:focus {
            outline: none;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-poppins font-semibold text-white;
    }

    a {
        @apply font-poppins;
    }

    p {
        @apply font-poppins text-gray-primary;
    }

    button {
        @apply font-poppins text-white;
    }
}
