@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --main-gradient: linear-gradient(45deg, rgb(224, 4, 11) 15%, rgb(252, 81, 48) 65%);
    }

    @font-face {
        font-family: "Gilroy";
        font-weight: 900;
        font-style: normal;
        font-display: swap;

        /* TODO: change when domain name is ready */
        src: url("../Gilroy-Black.woff") format("woff");
    }
}
