@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --main-gradient: linear-gradient(45deg, rgb(224, 4, 11) 15%, rgb(252, 81, 48) 65%);
    }

    @font-face {
        font-family: "Gilroy";
        font-weight: 900;
        font-style: normal;
        font-display: swap;

        /* TODO: change when domain name is ready */
        src: url("../Gilroy-Black.woff") format("woff");
    }

    html {
        @apply bg-black-primary;
    }

    textarea {
        resize: none;
    }

    input,
    select,
    textarea {
        color: white;
        padding: 10px 15px;
        border: 1px solid #ffffff40;
        background-color: transparent;
        transition: border-color 0.15s ease-in-out;

        &:focus {
            outline: none;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-poppins font-semibold text-white;
    }

    a {
        @apply font-poppins;
    }

    p {
        @apply font-poppins text-gray-primary;
    }

    button {
        @apply font-poppins text-white;
    }
}
