---
import MainForm from "@components/form";
import { navCollapseId } from "@constants";
import Layout from "@layouts/Layout.astro";

import Cards from "@components/serviceCards.astro";
---

<Layout navCollapseId={navCollapseId}>
    <div class="bg-image py-28 pb-32 px-global md:pb-36 lg:pb-40">
        <section class="container relative m-auto text-center">
            <h1 class="text-gradient relative z-10 font-gilroy text-5xl font-black sm:text-6xl md:text-7xl lg:text-8xl">
                Our Services
            </h1>
            <p class="mt-3 text-xl sm:text-2xl">We are making top quality decals, jacket pins, t-shirts, and posters</p>
        </section>
    </div>
    <div id={navCollapseId} class="bg-black-secondary py-20 px-global">
        <section class="container m-auto space-y-4 text-center sm:px-0">
            <Cards />
        </section>
    </div>
    <div class="bg-black-secondary py-6 px-global">
        <section class="container m-auto">
            <MainForm client:only="solid" />
        </section>
    </div>
</Layout>

<style lang="scss">
    .bg-image {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background:
            linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
            url("@assets/service.jpg") center/cover no-repeat;
    }
</style>
