---
import type { IconType } from "@icons";
import { tw } from "@utils/tw";

type Props = {
    text: string;
    title: string;
    class?: string;
    Icon: IconType;
};

const { class: className = "", title, text, Icon } = Astro.props;
---

<div
    class={tw(
        `card group cursor-pointer space-y-4 bg-black-tertiary text-center drop-shadow-md transition-transform duration-500 ease-in-out hover:-translate-y-1.5 hover:bg-gradient ${className}`,
    )}>
    <Icon class="mx-auto size-11 icon-gradient group-hover:[&_path]:fill-white" />
    <h4 class="text-xl">{title}</h4>
    <p class="group-hover:text-white">{text}</p>
</div>

<style lang="scss">
    .card {
        z-index: 1;
        position: relative;

        &:is(:first-child, :last-child) {
            &::before,
            &::after {
                z-index: -1;
                content: "";
                position: absolute;
            }

            &::after {
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: inherit;

                &:hover {
                    @apply bg-gradient;
                }
            }

            &::before {
                width: calc(50% + 10px);
                height: calc(50% + 10px);
                @apply bg-gradient transition-opacity duration-500;

                &:hover {
                    @apply opacity-30;
                }
            }
        }

        &:first-child::before {
            top: -10px;
            left: -10px;
        }

        &:last-child::before {
            bottom: -10px;
            right: -10px;
        }
    }
</style>
