---
import type { JSX } from "astro/jsx-runtime";
import { twMerge as tw } from "tailwind-merge";

type Props = {
    class?: string;
    title: string;
    text: string;
    children?: JSX.Element;
};

const { class: className = "", title, text }: Props = Astro.props;
---

<div class={tw(`space-y-4 bg-black-tertiary text-center ${className}`)}>
    <slot />
    <p class="text-xl font-semibold">{title}</p>
    <p class="text-gray-primary">{text}</p>
</div>
