---
import Card from "@components/card.astro";
import type { IconType } from "@icons";
import type { ServiceType } from "@lib/serviceTypes";

import Pin from "@icons/sli/pin";
import Cup from "@icons/sli/cup";
import Tag from "@icons/sli/tag";
import Key from "@icons/sli/key";
import Fire from "@icons/sli/fire";
import Badge from "@icons/sli/badge";
import Basket from "@icons/sli/basket";
import Handag from "@icons/sli/handbag";
import Picture from "@icons/sli/picture";

const cards = [
    {
        Icon: Fire,
        title: "Graphic Design",
        description: "Craft visually compelling graphics that communicate your brand’s message clearly and memorably",
    },
    {
        Icon: Tag,
        title: "Stickers/Decals",
        description:
            "Produce durable, high-quality stickers and decals that elevate packaging and promotional materials",
    },
    {
        Icon: Pin,
        title: "Jacket Pins",
        description: "Design custom enamel pins that add a touch of personality and professionalism to any garment",
    },
    {
        Icon: Picture,
        title: "Wall Posters/Banners",
        description: "Create impactful posters and banners that capture attention and reinforce your brand identity",
    },
    {
        Icon: Handag,
        title: "T-Shirts",
        description: "Deliver premium custom t-shirts that combine comfort and style to showcase your brand",
    },
    {
        Icon: Cup,
        title: "Mugs",
        description: "Produce bespoke mugs featuring your logo for memorable promotional giveaways or corporate gifts",
    },
    {
        Icon: Key,
        title: "Keychains",
        description: "Design durable keychains that keep your brand top of mind with every use",
    },
    {
        Icon: Badge,
        title: "Metal Badges and Medals",
        description: "Create custom metal badges, VIN plates, and medals that showcase your brand with distinction",
    },
    {
        Icon: Basket,
        title: "Custom Merch",
        description: "Offer a full range of branded merchandise tailored to engage your audience and drive loyalty",
    },
] satisfies { Icon: IconType; title: ServiceType; description: string }[];
---

<script>
    import { addOnClick } from "@utils/dom";
    import { setFormValue } from "@stores/formStore";
    import { serviceTypes, type ServiceType } from "@lib/serviceTypes";

    const cards = document.querySelectorAll(".service-card a[href='#form']");

    cards.forEach((card) => {
        const title = card.querySelector("h4")?.innerHTML;

        if (title && title in serviceTypes) {
            // * safe typecast since we do a runtime check
            addOnClick(card, () => setFormValue("serviceType", title as ServiceType));
        }
    });
</script>

<div class="grid grid-cols-1 gap-5 lg:grid-cols-3">
    {
        cards.map(({ Icon, title, description }) => (
            <Card
                class="service-card size-full p-6 lg:px-6 lg:py-10"
                href="#form"
                Icon={Icon}
                title={title}
                text={description}
            />
        ))
    }
</div>
