---
import "@fontsource/roboto";
import "@fontsource/poppins";
import "@fontsource-variable/roboto-slab";

import "@styles/global.scss";

import { Navbar, Footer } from "@components";
import IconGradient from "@assets/icon-gradient.svg";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="darkreader-lock" />
        <meta name="generator" content={Astro.generator} />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <link rel="preload" href="/Gilroy-Black.woff" as="font" type="font/woff" crossorigin />

        <title>ASG Club</title>
    </head>
    <IconGradient />

    <body>
        <Navbar client:load path={Astro.url.pathname} />
        <slot />
        <Footer />
    </body>
</html>
