---
import "@fontsource/roboto";
import "@fontsource/poppins";
import "@fontsource-variable/roboto-slab";

import Navbar from "@components/navbar";

const navCollapseId = "navCollapse";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="darkreader-lock" />
        <meta name="generator" content={Astro.generator} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <title>ASG Club</title>
    </head>
    <body class="min-h-screen bg-gray-900">
        <Navbar client:load navCollapseId={navCollapseId} path={Astro.url.pathname} />
        <div class="container mx-auto px-6 sm:px-8 md:px-10 lg:px-16">
            <slot />
        </div>
    </body>
</html>
