---
import "@fontsource/roboto";
import "@fontsource/poppins";
import "@fontsource-variable/roboto-slab";

// import "@styles/global.css";

import Navbar from "@components/navbar";

const navCollapseId = "balls";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="darkreader-lock" />
        <meta name="generator" content={Astro.generator} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <title>ASG Club</title>
    </head>
    {/* TODO: remove this class */}
    <body class="min-h-screen bg-gray-900">
        <Navbar client:load navCollapseId={navCollapseId} />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <div id={navCollapseId} class="border border-red-500 text-white">balls</div>
        <slot />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </body>
</html>
